accelerate==1.2.1
decord==0.6.0
deepspeed==0.16.3
diffusers==0.32.2
einops==0.8.1
hf_transfer==0.1.9
huggingface-hub==0.29.2
imageio[pyav,ffmpeg]==2.37.0
modelscope==1.22.3
numpy==1.26.4
opencv-python-headless==4.10.0.84
OpenEXR==3.3.2
pandas==2.2.3
peft==0.14.0
pillow==11.1.0
pyyaml==6.0.2
requests==2.32.3
safetensors==0.5.3
scikit-image==0.25.2
sentencepiece==0.2.0
tqdm==4.66.5
transformers==4.49.0
